# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Django
db.sqlite3
media/
staticfiles/

# Node
node_modules/
dist/
.npm
package-lock.json
*.log

# Vite
.vite/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
